<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Карточка товара</mat-card-title>
        <mat-card-subtitle>Здесь находится доп. информация о товаре</mat-card-subtitle>
    </mat-card-header>
    <img
        mat-card-image
        src="https://sberbusiness.live/uploads/media/post_detail/0001/16/thumb_15175_post_detail_tablet.png"
        alt="Photo of a products"
    />
    <mat-card-content>
        <p>1 000 $</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="buy($event)">Купить</button>
    </mat-card-actions>
</mat-card>
