.container {
    width: 30%;
}

.header {
    border-radius: 3%;
    background-color: rgb(245, 245, 245);
    word-wrap: break-word;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.rating {
    display: flex;
    align-items: center;
}

.star-icon {
    transform: scale(0.7);
    color: orange;
}
