<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Книжка</mat-card-title>
        <mat-card-subtitle>Электронная</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image alt="previewImg-{{ productMock._id }}" [src]="previewImg.src" />
    <mat-card-content>
        <p>Топ за свои деньги</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="buyItem($event)">Купить(Дорого)</button>
    </mat-card-actions>
</mat-card>
