<app-card class="card" [product]="products[0]" (buyProduct)="getBuyProduct($event)"></app-card>
<app-card class="card" [product]="products[1]" (buyProduct)="getBuyProduct($event)"></app-card>
<app-card class="card" [product]="products[2]" (buyProduct)="getBuyProduct($event)"></app-card>
<app-card class="card" [product]="products[3]" (buyProduct)="getBuyProduct($event)"></app-card>
<app-card class="card" [product]="products[4]" (buyProduct)="getBuyProduct($event)"></app-card>
<app-card class="card" [product]="products[5]" (buyProduct)="getBuyProduct($event)"></app-card>
<app-card class="card" [product]="products[6]" (buyProduct)="getBuyProduct($event)"></app-card>
