:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
}

.scroll-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: auto;
}

:host div.app-products-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: 0;
    box-sizing: border-box;
    padding: 10px;
}

.card {
    margin: 10px;
}

.pagination-chunks-sizes,
.pagination-pages {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-pages .mat-mdc-button.mat-mdc-button-base,
.pagination-chunks-sizes .mat-mdc-button.mat-mdc-button-base {
    height: 36px;
    min-width: 36px;
    width: 36px;
    margin-left: 4px;
    margin-right: 4px;
}

.pagination-pages button.active,
.pagination-chunks-sizes button.active {
    background: #3f51b5;
    color: white;
}

.mat-mdc-progress-spinner {
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}
