<div class="test">
    <p>{{ productsCart | json }}</p>
</div>
<app-card
    class="card"
    [product]="products[0]"
    [shopCart]="productsCart"
    (shopCartChange)="updateCartProducts($event)"
></app-card>
<app-card
    class="card"
    [product]="products[1]"
    [shopCart]="productsCart"
    (shopCartChange)="updateCartProducts($event)"
></app-card>
<!-- <app-card class="card"></app-card>
<app-card class="card"></app-card>
<app-card class="card"></app-card>
<app-card class="card"></app-card>
<app-card class="card"></app-card>
<app-card class="card"></app-card> -->
