/* You can add global styles to this file, and also import other style files */
:root {
    --white: #ffffff;
    --black: #212429;
    --red: #f03d3e;
    --grey-1: #f8f9fa;
    --grey-2: #dde2e5;
    --grey-3: #acb5bd;
    --grey-4: #90a0b7;
    --grey-5: #495057;
    --orange: #ffa500;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
