/* You can add global styles to this file, and also import other style files */
:root {
    --white: #ffffff;
    --black: #212429;
    --red: #f03d3e;
    --grey: #acb5bd;
    --orange: #ffa500;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
